@import '~antd/lib/style/themes/default.less';
@import '~antd/dist/antd.less'; // Import Ant Design styles by less entry
@import './antd.overrides.less';

p {
  margin: 0
}

body {
  background: #f8f9fd;
}

.room-topic {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  font-size:12px;
}

.tile {
  box-shadow: 8px 28px 48px -6px rgba(0, 0, 0, 0.19);
  background: #fff;
  border-radius: 16px;
}

.primary-color {
  color: @primary-color;
}

.primary-back {
  background: @primary-color;
}