@namespace Lingua.EmailTemplates
@model Lingua.EmailTemplates.BaseModel;

<html>
<body>

    <p>Hi @Model.Recepient.Firstname 👋<p>
        <br />
    <p>Please find calendar event attached to this email. Add it to your calendar not to miss the call.<p>
    <p>⚠ If you have any questions or need help, please feel free to <a href="https://t2m.app/help/contact-us">contact us here</a>.</p>
    <br />
    <p>
        <div>Best Regards,</div>
        <div>Talk2Me App Team</div>
    </p>

</body>
</html>