@namespace Lingua.EmailTemplates
@model Lingua.EmailTemplates.RoomModel;
@using Lingua.Shared;

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>

    <p>Hi @Model.Recepient.Firstname 👋<p>
        <br />
    <p>Just a kind reminder that your room starts in 1 hour. The link to join the room will be available 5 minutes before the set time.<p>
    <p>⚠ If you have an emergency and couldn’t make it, please go to <a href="https://t2m.app/rooms/my">My rooms page</a> and cancel the room right now, so we can inform your partner about it.</p>
    <p>📅 Room details:<p>
        <ul>
            <li>Date: @(Utilities.ConvertToTimezone(Model.Room.StartDate, Model.Recepient.Timezone).ToString("dd-MMM-yyyy HH:mm"))</li>
            <li>Language: @Model.Room.Language</li>
            <li>Topic:@(Model.Room.Topic ?? "<no topic>")</li>
        </ul>
        <br />
    <p>
        <div>Best Regards,</div>
        <div>Talk2Me App Team</div>
    </p>

</body>
</html>